--
-- PostgreSQL database dump
--

\restrict vG2l10rRDgovnWhFqZmh5zmIaNUgGK9z5fhhwluz4g8fO2NUQlCf9bnePlEFOte

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg13+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: contact_requests; Type: TABLE; Schema: public; Owner: cosmicflow_user
--

CREATE TABLE public.contact_requests (
    id bigint NOT NULL,
    package text NOT NULL,
    business text NOT NULL,
    objective text NOT NULL,
    contact_name text,
    contact_email text,
    contact_phone text,
    notes text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.contact_requests OWNER TO cosmicflow_user;

--
-- Name: contact_requests_id_seq; Type: SEQUENCE; Schema: public; Owner: cosmicflow_user
--

CREATE SEQUENCE public.contact_requests_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.contact_requests_id_seq OWNER TO cosmicflow_user;

--
-- Name: contact_requests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: cosmicflow_user
--

ALTER SEQUENCE public.contact_requests_id_seq OWNED BY public.contact_requests.id;


--
-- Name: contact_requests id; Type: DEFAULT; Schema: public; Owner: cosmicflow_user
--

ALTER TABLE ONLY public.contact_requests ALTER COLUMN id SET DEFAULT nextval('public.contact_requests_id_seq'::regclass);


--
-- Data for Name: contact_requests; Type: TABLE DATA; Schema: public; Owner: cosmicflow_user
--

COPY public.contact_requests (id, package, business, objective, contact_name, contact_email, contact_phone, notes, created_at) FROM stdin;
\.


--
-- Name: contact_requests_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cosmicflow_user
--

SELECT pg_catalog.setval('public.contact_requests_id_seq', 1, false);


--
-- Name: contact_requests contact_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: cosmicflow_user
--

ALTER TABLE ONLY public.contact_requests
    ADD CONSTRAINT contact_requests_pkey PRIMARY KEY (id);


--
-- Name: idx_contact_requests_created_at; Type: INDEX; Schema: public; Owner: cosmicflow_user
--

CREATE INDEX idx_contact_requests_created_at ON public.contact_requests USING btree (created_at);


--
-- PostgreSQL database dump complete
--

\unrestrict vG2l10rRDgovnWhFqZmh5zmIaNUgGK9z5fhhwluz4g8fO2NUQlCf9bnePlEFOte

